/* #17161a
    	#d4cbbf
*/
*{
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
    scroll-behavior: smooth;
}
@font-face {
    font-family: Stara;
    font-weight: normal;
    src: url(stara-sans-serif-font-2023-11-27-04-56-32-utc/OpenType-PS/Stara-Medium.otf);
}
@font-face {
    font-family: Stara;
    font-weight: bold;
    src: url(stara-sans-serif-font-2023-11-27-04-56-32-utc/OpenType-PS/Stara-Black.otf);
}
@font-face {
    font-family: Strong;
    font-weight: normal;
    src: url(strong-elegant-serif-font-typeface-2024-01-11-18-57-50-utc/Strong.ttf);
}

@font-face {
    font-family: bug;
    font-weight: normal;
    src: url(corepix-glitch-pixel-serif-font-2024-02-15-19-40-00-utc/Corepix/OpenType-TT/Corepix.ttf)
}
body{
    background-color: #17161a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.barra
{
    z-index: 999;
    background-color: #d4cbbf;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;
    box-shadow:  0px 2px 5px rgb(0, 0, 0);
    top:0;
    font-weight: bold;
}
.barra a:link{
    display: flex;
    text-decoration: none;
    color: #17161a;
    width: 8vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}
.barra a:hover{
    
    color: #d4cbbf;
    border-radius: 30px;
    background-color: #17161a;
}
a:visited{
    color: #17161a;
}
.logo{

}

.info{
    margin-top: 5vh;
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:3vh;
}
.info h1{
    font-family: Strong;
    color: #d4cbbf;
}

.name{
    color: #d4cbbf;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-top: 2vh;
    justify-content: center;
    align-content: center;
    gap: 1vw;
}
.name h5{
    align-self: flex-end;
}


.info .we{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    width: 20vw;
    margin-top: 50vh;
    
    font-size: 1.5vw;
}

.info .we .left{
    align-self: flex-end;
}
hr{
    display: flex;
    position: relative;
    height: 0.01vh;
    width: 98vw;
}
.gameSection{
    display: grid;
    width: 90vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    grid-template-columns: auto auto auto;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 19vw;
    overflow: hidden;

}

.game h2 a{
    color: #ed6a5a;
    text-decoration: none;
    font-size: 2vw;

}

.game h2 a:hover{
    text-decoration: underline;
    font-size: 2.1vw;
}

.game p{
    color: #5CA4A9;
}
.game .imga{
    display: flex;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;

}
.game .imga .more{
    position: absolute;
    color: white;
    width: 19vw;
    height: 19vw;
    background-color:black;
    opacity: 0;
}
.game .imga .more:hover{
    opacity: 0.5;
}
.game .imga img{
    width: 19vw;
    height: 19vw;
    object-fit: cover;
}

.footerclass{
    width: 100%;
    
}

.footerclass svg{
    display: flex;
}
footer {
    background-image: url("wave.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vw;
    display: flex;
    width: 100%;
    height: 20vw;
    justify-content: space-evenly;
    
}
footer h1{
    color: #ed6a5a;
    font-size: 3vw;
}
footer h2{
    color: white;
    font-size: 2vw;
}
footer h2:hover{
    font-size: 2.5vw;
    color: #ed6a5a;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    font-size: 2.5vw;
    color: #ed6a5a;
    text-decoration: underline;
}

.bottom{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #5CA4A9;
}